<!--The content below is only a placeholder and can be replaced.-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2> Mon Blog</h2>
      <p>Mis à jour : {{ lastUpdate | async |date : 'EEEE d MMMM y' | uppercase }}</p>
      <ul class ="list-group">
        <app-post-list-blog *ngFor="let post of posts"
        [postTitre]="post.titre" 
        [postContent]="post.content" 
        [postCreatedAt]="post.created_at">
      </app-post-list-blog>
      </ul>
      
    </div>
  </div>
  